.mat-table {
  background-color: transparent;
  overflow-x: auto;

  .mat-row,
  .mat-header-row {
    padding: 0 30px;
    min-height: 26px;
    min-width: 700px;
  }

  .mat-header-row {
    background-color: transparent;
    border-bottom: none;
    text-transform: uppercase;
  }

  .mat-header-cell {
    color: rgba(0, 0, 0, .35);
  }

  .mat-row {
    background-color: #fff;
    border-radius: 6px;
    border-bottom: none;
    margin: 12px 0;
    min-height: 60px;
    cursor: pointer;
  }

  .mat-cell {
    color: $font-color;
  }
}